:root {
  --yellow: #eac40a;
  --yellow-light: #fff4db;
  --purple: #680180;
  --purple-light: #f7c2ff;
  --purple-off-white: #ffeefe;
  --purple-dark: #1d0127;
  --yellow-dark: #2d2206;
  --video-height: calc(40% - (10vw * -1));
  --nav-height: calc(3rem + 3vw);
  --nav-height-negated: calc((var(--nav-height) * -1) + 1px);
  --nav-and-content-width: calc(66rem - 13vw);
  --nav-and-content-max-width: 80vw;
  --nav-and-content-padding: calc(1rem + 3vw);
  --nav-font-size: calc(1rem + 1vw);
  --transition: all .6s cubic-bezier(.2, 0, .2, 1);
  --background-color: #000000;
  --text-color: var(--yellow-light);
}

q::before,
q::after {
  content: '';
  background-image: url("../assets/quote.svg");
  width: var(--nav-font-size);
  height: var(--nav-font-size);
  display: inline-block;
  background-size: contain;
}

q::before {
  margin-right:var(--nav-font-size);
}

q::after {
  transform: rotate(180deg);
  margin-left:var(--nav-font-size);
}

@media screen and (min-width: 1920px) {
  :root {
    --nav-font-size: 36px;
    --nav-and-content-width: 800px;
    --nav-and-content-padding: 70px;
  }
}

* {
  transition: var(--transition);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

html, body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  background-image: url('../assets/logo.svg');
  background-position: bottom right;
  background-size: 75vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

@media (orientation: landscape) {
  body {
    background-size: 59vh;
  }
}

@media (orientation: portrait) {
  body {
    background-size: 100vw;
  }
}

.main {
  height: 100%;
}

.top {
  width: 100%;
  height: 50%;
}

.top {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: var(--video-height);
  overflow: hidden;
}

.top .video-loop {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top .main-title {
  position: absolute;
  font-size: var(--nav-font-size);
  text-transform: uppercase;
  top: var(--nav-and-content-padding);
  left: var(--nav-and-content-padding);
  color: #ffffff;
}

.bottom {
  width: 100%;
  position: absolute;
  top: var(--video-height);
  z-index: 3;
}

.bottom .nav {
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);

  margin-top: var(--nav-height-negated);
  width: var(--nav-and-content-width);
  max-width: var(--nav-and-content-max-width);

  font-size: var(--nav-font-size);
  float: right;

  display: table;
}

.bottom .nav .secondary-title {
  position: absolute;
  bottom: 3rem;
}

@media screen and (min-width: 1600px) {
  .bottom .nav .secondary-title {
    bottom:5rem;
  }
}

.bottom .nav .secondary-title .quote {
  max-height: 0;
  transition-delay: 0s;
  overflow: hidden;
  position:relative;
  font-size: calc(var(--nav-font-size) + 1rem);
  text-transform: uppercase;
  font-weight: 800;
  opacity:0;
  transform: translateX(-30rem);
  color:var(--yellow-light);
}

.bottom .nav .secondary-title .quote.active {
  max-height:30rem;
  opacity:1;
  transform: unset;
}

.bottom .nav .secondary-title .author {
  color:var(--purple-light);
  padding:unset;
  display: inline-block;
  height: var(--nav-height);
  line-height: unset;
  font-style: italic;
  animation: 0.5s ease-out 0s 1 slideInFromRight;
  font-size: var(--nav-font-size);
}


@media screen and (max-width: 700px) {
  .bottom .nav .secondary-title .quote {
    font-size: calc(var(--nav-font-size) + 1rem);
  }
}

@media screen and (max-device-width: 700px) {
  .bottom .nav .secondary-title .quote{
    font-size: var(--nav-font-size);
  }
}

@media screen and (min-width: 1600px) {
  .bottom .nav .secondary-title .quote {
    font-size: calc(var(--nav-font-size) + 1rem);
  }
}

.bottom .nav a {
  height: var(--nav-height);
  line-height: var(--nav-height);
  padding-left: var(--nav-and-content-padding);
  padding-right: var(--nav-and-content-padding);
  display: inline-block;
  background-color: var(--purple-dark);
  color: var(--purple-light);
  text-decoration: none;
}

.bottom .nav a:hover {
  color: var(--yellow);
  background-color: var(--background-color);
}

.bottom .nav .video-button {
  background-color:var(--yellow);
  width:var(--nav-height);
  padding:0;
  display:table-cell;
  vertical-align:top;
  color:var(--purple-dark);
  text-align: center;
}



.bottom .nav .video-button .fa {
  top: 0.4vw;
  width: var(--nav-font-size);
  height: var(--nav-font-size);
  color: #fff;
  display: inline-block;
  position: relative;
  transition:unset;
}

.bottom .nav .video-button:hover .fa {
  color:var(--yellow);
}

.bottom .nav .video-button .fa-pause {
  display:none;
}

.bottom .nav .video-button .text {
  display:none;
}

.bottom .content {
  padding: var(--nav-and-content-padding);
  width: var(--nav-and-content-width);
  max-width: var(--nav-and-content-max-width);
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.bottom .content p {
  line-height: calc(1.1rem + 1vw);
  margin-block-start: calc(1rem + 1vw);
  margin-block-end: calc(1rem + 1vw);
  text-align: justify;
  padding: 1em;
  margin: 0 -1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color:var(--yellow-light);
}

@media screen and (min-width: 1920px) {
  .bottom .content p {
    line-height: 2.2rem;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    text-align: justify;
  }
}

@media (orientation: portrait) {
  .bottom .content p:last-child {
    margin-bottom: 4rem;
  }
}

.bottom .content .title {
  background: -webkit-linear-gradient(-45deg, var(--purple), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;

}

.contact .whatsapp-fab {
  position: fixed;
  overflow: auto;
  bottom: 2rem;
  right: 2rem;
  background-image: url('../assets/whatsapp.svg');
  background-color: #00e676;
  border: 5px solid #ffffff;
  border-radius: 50%;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  animation: 0.5s ease-out 0s 1 slideInFromRight;
  z-index: 4;
}

.contact .whatsapp-fab:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6)
}

.contact .whatsapp-fab:active {
  transform: translateX(5px) translateY(5px);
}

.contact .whatsapp-fab span {
  display: none;
}

.contact-overlay {
  transform: scale(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
  padding: calc(1rem + 1vw) calc(1rem + 10vw);
  display: table;
}

.contact-overlay.active {
  transform: none;
}

.contact-overlay .image-link {
  text-decoration: none;
  border: none;
}

.contact-overlay .chat-bg {
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--purple-off-white);
  border-radius: 1rem;
  color: var(--purple-dark);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 80vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 80);
}

.contact-overlay .chat-bg .chat-messages {
  margin-bottom: auto;
  flex-grow: 1;
  overflow: auto;
}

.contact-overlay .chat-bg .chat-messages .social {
  width: 3rem;
  height: 3rem;
}

.contact-overlay .chat-bg .chat-input {
  margin-top: auto;
}

.contact-overlay .chat-bg .chat-msg {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}

.contact-overlay.active .chat-bg .chat-msg {
  animation-play-state: running;
}

.contact-overlay .chat-bg .chat-msg:nth-child(1) {
  animation-delay: 1s;
}

.contact-overlay .chat-bg .chat-msg:nth-child(2) {
  animation-delay: 1.6s;
}

.contact-overlay .chat-bg .chat-msg:nth-child(3) {
  animation-delay: 2.2s;
}

.contact-overlay .chat-bg .chat-msg:nth-child(n+4) {
  animation-delay: 0s;
}

.contact-overlay .chat-bg .chat-msg.you {
  text-align: right;
}

.contact-overlay .chat-bg .chat-msg p a {
  color: var(--yellow);
}

.contact-overlay .chat-bg .chat-msg.you p a {
  color: var(--purple);
}

.contact-overlay .chat-bg .chat-msg p {
  background-color: #0084fd;
  color: #ffffff;
  border-radius: 1rem;
  max-width: 75%;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: left;
  margin-block-start: 0;
}

.contact-overlay .chat-bg .chat-msg.you p {
  background-color: #e0e0e0;
  color: var(--purple-dark);
}

.contact-overlay .chat-bg .chat-input .chat-input-box {
  width: 100%;
  border-radius: 1rem;
  background-color: #ffffff;
  line-height: 1.5em;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.youtube-overlay {
  position:fixed;
  left:0;
  top:calc(55 * var(--vh));
  width: 45vw;
  height:calc(45 * var(--vh));
  z-index:5;
  transform: scale(0,0);
}

.youtube-overlay.active {
  transform: scale(1,1);
}

.youtube-overlay .youtube-embed {
  width:100%;
  height:100%;
}